@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}
#root {
  width: 100%;
  margin: 0;
  /* padding: 2rem; */
  text-align: center;
  box-sizing: border-box;
  font-size: 1rem;
}
