header {
  background: linear-gradient(to right, #4731d3 66%, #cbf281 34%);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header.dark-mode {
  background: linear-gradient(to right, #171043 66%, #1a210b 34%);
}

.header-top {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #cbf281;
  padding-top: 2rem;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  width: 350px;
  gap: 10px;
  padding-top: 0.1rem;
}

.language-switch,
.dark-mode-toggle {
  color: #4731d3;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 0.8rem;
}
.language-switch {
  background-color: #4731d3;
  color: #cbf281;
}
.language-switch.dark-mode {
  background-color: #171043;
  color: #bab2e7;
}
.d9d9d9 {
  color: #d9d9d9;
}

.dark-mode-toggle {
  background-color: #cbf281;
  color: #4731d3;
}
.dark-mode-toggle.dark-mode {
  background-color: #1a210b;
  color: #fff;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 2.5rem 0 6rem 0;
}

.text-section {
  display: flex;
  flex: 1;
  text-align: left;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
}

.text-section h1 {
  font-size: 3rem;
  color: #cbf281;
  width: 50%;
  margin: 0;
}

.text-section p {
  font-size: 1.2rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  width: 65%;
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn {
  background-color: #fff;
  color: #3730a3;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.btn.dark-mode {
  background-color: #252128;
  color: #fff;
}

.btn.github::before {
  content: url("../../assets/github.png");
  margin-right: 10px;
}

.btn.linkedin::before {
  content: url("../../assets/LinkedIn.png");
  margin-right: 10px;
}
body.dark-mode .btn.github::before,
body.dark-mode .btn.linkedin::before {
  filter: brightness(0) invert(1);
}
.image-section {
  width: auto;
  height: auto;
}

.image-section img {
  width: 80%;
  height: 80%;
  border-radius: 18px;
}

@media (max-width: 1440px) {
  header {
    background: linear-gradient(to right, #4731d3 62%, #cbf281 27%);
  }
  header.dark-mode {
    background: linear-gradient(to right, #171043 62%, #1a210b 27%);
  }
}

@media (max-width: 976px) {
  header {
    background: linear-gradient(to right, #4731d3 100%, #cbf281 50%);
    background: linear-gradient(to bottom, #4731d3 100%, #cbf281 50%);
  }
  header.dark-mode {
    background: linear-gradient(to right, #171043 100%, #1a210b 50%);
    background: linear-gradient(to bottom, #171043 100%, #1a210b 50%);
  }
  .header-top,
  .header-content {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }

  .text-section {
    text-align: center;
    justify-content: center;
    height: auto;
  }

  .text-section h1 {
    width: 100%;
    font-size: 2.5rem;
  }

  .text-section p {
    width: 100%;
  }

  .controls {
    width: 100%;
    justify-content: center;
    padding-top: 1rem;
  }

  .buttons {
    justify-content: center;
  }

  .image-section {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .image-section img {
    width: 60%;
    height: auto;
  }
}

@media (max-width: 480px) {
  header {
    background: linear-gradient(to bottom, #4731d3 100%, #cbf281 49.2%);
  }
  .text-section h1 {
    font-size: 2rem;
  }

  .text-section p {
    font-size: 0.9rem;
  }

  .btn {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .controls {
    width: 100%;
    flex-direction: column;
    gap: 5px;
  }

  .header-content {
    margin: 2rem 0 4rem 0;
  }
  .image-section {
    width: 100%;
  }
}
